.site-header {
    height: 60px;
    padding: 20px;
    margin: 0;

    background-color: $main-color;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        font-family: sans-serif;
    }

    &__nav {
        display: inline-block;

        &__link {
            color: white;
            text-decoration: none;
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            font-family: sans-serif;

            margin-left: 10px;
        }
    }
}