---
layout: default
---

<div class="page-home">

  <div class="page-home__breadcrumb">
    <div class="page-home__breadcrumb__wrapper">
      <h1 class="page-home__breadcrumb__wrapper__title">
        Volontaria
      </h1>
      <div class="page-home__breadcrumb__wrapper__content">
        Concentrez-vous sur le fait de changer le monde
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="columns__title">
      Gardez les choses simples
    </div>
    <div class="columns__content">
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-rocket"></i>
          Prise en main rapide
        </div>
        <div class="columns__content__column__content">
          Volontaria offre des interfaces simples et une documentation complète afin de correspondre a tout les membres de votre équipe.
        </div>
      </div>
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-th-large"></i>
          Solution modulaire
        </div>
        <div class="columns__content__column__content">
          Chaque organisation ce fixe des objectifs différents, Volontaria vous laisse donc choisir les modules dont vous avez vraiment besoin.
        </div>
      </div>
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-users"></i>
          Vision communautaire
        </div>
        <div class="columns__content__column__content">
          Profiter de l'aide de notre équipe de développement, mais aussi des associations qui utilisent déjà Volontaria.
        </div>
      </div>
    </div>
  </div>

  <div class="columns columns--dark page-home__section-2">
    <div class="columns__title">
      Toujours là où vous en avez besoin.
    </div>
    <div class="columns__content">
      <div class="columns__content__column">
        <img src='{{ "/assets/images/pages/home/multi-devices.png" | relative_url }}' alt='icon of multi device'/>
      </div>
      <div class="columns__content__column">
        <div class="columns__content__column__content">
          Volontaria sera disponible sous <b>Android</b>, <b>iOS</b> et <b>Windows phone</b> ainsi que sur sa plateforme web. Vous pourrez donc vous deplacer librement tout en profitant de votre outil favori.
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="columns__title">
      Volontaria vous aide au quotidien
    </div>
    <div class="columns__content">
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-address-book"></i>
          Gestion des bénévoles
        </div>
        <div class="columns__content__column__content">
          Avec Volontaria vous pouvez facilement gérer l'inscription des bénévoles et leurs présences aux évènements.
        </div>
      </div>
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-shopping-basket"></i>
          Boutique en ligne
        </div>
        <div class="columns__content__column__content">
          Activer le module de vente en ligne, ajouter vos articles, classer les par catégories et obtenez une boutique en ligne.
        </div>
      </div>
      <div class="columns__content__column">
        <div class="columns__content__column__title">
          <i class="fa fa-globe"></i>
          Site internet
        </div>
        <div class="columns__content__column__content">
           Toutes les organisations ont besoin d'une visibilité sur internet, pourquoi ne pas faire la vôtre en seulement quelques clics ?
        </div>
      </div>
    </div>
  </div>
</div>
