<div class="footer">
  <div class="footer__info">
    <div class="footer__info__logo">
      Volontaria
    </div>
    <div class="footer__info__legal">
      Volontaria est un logiciel libre sous licence AGPLv3<br/>
      Le projet est maintenu par <a class="footer__info__legal__link" href="https://www.fjnr.ca">FJNR</a>.
    </div>
  </div>
  <div class="footer__links">
    <a class="footer__links__link" href="https://github.com/Volontaria/">
      <i class="fab fa-github"></i>
    </a>
    <a class="footer__links__link" href="https://join.slack.com/t/volontaria/shared_invite/zt-3gw9y82d-747hLCjKbU~jWrt8VLCRIQ">
      <i class="fab fa-slack"></i>
    </a>
  </div>
</div>
