<div class="contact-page">
  <app-main-nav></app-main-nav>
  <div class="contact-page__content">
    <div class="contact-page__content__background">

    </div>
    <div class="contact-page__content__body">
      <div class="contact-page__content__body__title">
        Prêt à utiliser
        <div class="contact-page__content__body__title__important">
        Volontaria
        </div>
        ?<br/>
        Vous souhaitez en savoir plus ?
      </div>
      <div class="contact-page__content__body__description">
        Volontaria est en perpétuelle amélioration avec les organismes qui l'utilisent déjà. Pour permettre de vous offrir un outil qui s'adapte au mieux à votre communauté de bénévoles, nous vous invitons à contacter par téléphone ou par mail afin de découvrir votre organisme et de vous donner accès à Volontaria.
      </div>
      <div class="contact-page__content__body__infos">
        <div class="contact-page__content__body__infos__item">
          <i class="fa fa-mobile-alt"></i>
          514-980-3840
        </div>
        <div class="contact-page__content__body__infos__item contact-page__content__body__infos__item--reverse">
          <i class="fa fa-envelope"></i>
          volontaria@gmail.com
        </div>
      </div>
    </div>
  </div>
</div>
