.page-home {

    &__breadcrumb {
        background-color: $main-color-light;
        height: 700px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;

        &__wrapper {

            &__title {
                border: 3px solid white;
                font-weight: 100;
                border-radius: 5px;
                font-size: 45px;
                padding: 50px 150px;
            }

            &__content {

            }
        }
    }

    &__title {
        font-size: 30px;
        text-align: center;
        margin: 30px;
    }

    &__section-2 {
        padding-left: 300px;
        padding-right: 300px;
    }
}