<div class="home-services">
  <div class="home-services__title">
    <span class="home-services__title__important">Volontaria</span>, ca fonctionne comment?
  </div>
  <div class="home-services__section">
    <img class="home-services__section__image" src="../../../../assets/images/feature-desktop.png" />
    <div class="home-services__section__body">
      <div class="home-services__section__body__title">
        Une application <span class="home-services__section__body__title__important">Web</span>
      </div>
      <div class="home-services__section__body__slogan">
        Disponible sur tous les navigateurs
      </div>
      <div class="home-services__section__body__text">
        <p>
          Chaque organisme qui souhaite utiliser Volontaria possède
          un espace à son nom au quel leurs bénévoles peuvent se
          connecter et s'inscrire à des sessions de bénévolat.
        </p>
        <p>
          C'est sur ce même espace que vous aurez accès à une interface
          d'administration simplifiée pour que vous ou vos collaborateurs
          puissaient gérer les bénévoles et les évènements à venir.
        </p>
        <p>
          L'interface simple et documentée vous permettra de facilement
          prendre de bonne habitude dans la gestion de vos événements.
        </p>
      </div>
    </div>
  </div>

  <div class="home-services__section home-services__section--reverse">
    <img class="home-services__section__image" src="../../../../assets/images/feature-mobile.svg" />
    <div class="home-services__section__body">
      <div class="home-services__section__body__title">
        Une application <span class="home-services__section__body__title__important">Mobile</span>
      </div>
      <div class="home-services__section__body__slogan">
        Android & iOS
      </div>
      <div class="home-services__section__body__text">
        <p>
          Toutes les espaces de Volontaria sont compatibles avec
          l'application mobile Volontaria disponible sur Android et iOS.
        </p>
        <p>
          Il vous suffit de télécharger l'application mobile depuis le
          Play Store ou l'Apple Store et d'utiliser le QR code qui
          s'affichera sur l'espace de votre organisation pour y avoir accès
        </p>
      </div>
    </div>
  </div>
  <div class="home-services__buttons">
    <button class="button" [routerLink]="'/contact'">Contactez-nous</button>
  </div>
</div>
