@import '../../../../assets/scss/theme';

.home-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 40px;

  &::before {
    z-index: -1;
    display: block;
    content: '';
    height: 300px;
    width: 100%;
    background-color: $background;
    position: absolute;
    top: 0;
  }

  &::after {
    z-index: -1;
    display: block;
    content: '';
    height: 500px;
    width: 100%;
    background-color: $background;
    position: absolute;
    bottom: 0;
  }

  &__title {
    color: $main-color;
    font-size: 30px;
    line-height: 40px;

    &__important {
      font-family: $main-font;
    }
  }

  &__section {
    color: white;
    padding: 50px;
    background-color: $main-color;
    border: 5px solid $main-color;
    border-radius: 0 50px;
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &--reverse {
      border-color: $background;
      flex-direction: row-reverse;
      background-color: white;
      color: black;

      & > .home-services__section__body__title {
        color: $main-color;
      }
    }

    &__image {
      flex: 1;
      max-width: 40%;
    }

    &__body {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      &__title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;

        &__important {
          font-family: $main-font;
        }
      }

      &__slogan {
        margin-top: 20px;
      }

      &__text {
        margin-top: 20px;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .home-services {

    &__title {
      text-align: center;
    }

    &__section {
      flex-direction: column-reverse;
      padding: 20px;

      &__image {
        max-width: 80%;
      }

      &__body {
        padding: 20px;
      }
    }
  }
}
