<div class="home-features">
  <div class="home-features__title">
    <span class="home-features__title__important">Volontaria</span>, pour que le bénévolat soit plus simple
  </div>
  <div class="home-features__slogan">
    Volontaria vous fournit un outil complet qui permet à votre organisme de gérer des sessions de bénévolat avec des bénévoles. Vous disposez de l'ensemble des services présentés ci-dessous ainsi que des prochaines améliorations.
  </div>
  <div class="home-features__items">
    <app-home-features-item title="Gestion des bénévoles"
                            description="Chaque bénévoles dispose de sa propre fiche contenant l'historique de ses inscriptions et présences."
                            icon="fa fa-users-cog"
                            class="home-features__items__item"></app-home-features-item>
    <app-home-features-item title="Type de tache"
                            description="Créez des types de taches et assignez-les à chacun de vos événements pour aider les bénévoles à s'investir."
                            icon="fa fa-tasks"
                            class="home-features__items__item"></app-home-features-item>
    <app-home-features-item title="Suivi des présences"
                            description="Faites le suivi des présences afin de mieux prévoir vos futurs événements et augmenter vos chances de succès."
                            icon="fa fa-user-check"
                            class="home-features__items__item"></app-home-features-item>
    <app-home-features-item title="Lieux de bénévolat"
                            description="Définissez plusieurs lieux de bénévolat et aidez les bénévoles à trouver des actions près de chez eux."
                            icon="fa fa-map-marked-alt"
                            class="home-features__items__item"></app-home-features-item>
    <app-home-features-item title="Export des participations"
                            description="Profiter des outils d'export pour intégrer facilement vos systèmes de rabais ou de remerciement aux participants."
                            icon="fa fa-cloud-download-alt"
                            class="home-features__items__item"></app-home-features-item>
    <app-home-features-item title="Documentation"
                            description="Intégrer votre propre documentation aux bénévoles pour aider vos participants à connaitre vos pratiques internes."
                            icon="fa fa-book"
                            class="home-features__items__item"></app-home-features-item>
  </div>
  <div class="home-features__buttons">
    <button class="button" [routerLink]="'/contact'">Contactez-nous</button>
  </div>
</div>
