/*****
Please use this file for all your constant

example :
$color-theme-green: #00d59c;
*****/

/* Use for the main nav */
$main-color: #2D3E50;
$main-color-dark: #547A29;

$main-color-light: #1F8DD6;

$color-text-dark: #34495E;
$color-text-light: #7f8C8D;

$main-background: #F8FBF4;
$main-background-dark: #F1F1F1;

$main-border: lightgrey;

$color-warning: orange;
$color-danger: #C82333;