@import '../../../../assets/scss/theme';

.home-users {
  display: flex;
  flex-direction: column;
  margin: 100px 0;

  &__title {
    font-family: $main-font;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
  }

  &__logos {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    &__logo {
      padding: 0 100px;

      & > img {
        max-height: 100px;
      }
    }
  }
}
