<footer class="site-footer">

    <h2 class="site-footer__heading">{{ site.title | escape }}</h2>

    <div class="site-footer__content">
      <div class="site-footer__content__column">
        {% if site.email %}
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope"></i>
          {{ site.email }}
        </a>
        {% endif %}
      </div>

      <div class="site-footer__content__column">
          {% if site.github_username %}
          <p>
              <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github"></i>
                Github
              </a>
          </p>
          {% endif %}

          {% if site.slack_username %}
          <p>
            <a href="https://{{ site.slack_username }}.slack.com/">
              <i class="fa fa-slack"></i>
              Slack
            </a>
          </p>
          {% endif %}
      </div>

      <div class="site-footer__content__column">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
</footer>
